/* src/components/Appointment.css */
.appointment {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
    /* text-align: left; */
    /* padding: 20px;  */
}

.heading{
    text-align: center;
}
.appointment form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; /* Set a max-width for larger screens */
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    position: relative;
}
.appointment h1 {
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    padding: 0 1rem;
}
.appointment label {
    margin-bottom: 0.8rem;
    /* width: 150px; */
}
.appointment input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.appointment button {
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: rgb(119, 119, 248);
    border: none;
    cursor: pointer;
    align-self: center;
    border-radius: 5px;
    margin-top: 1rem;
}
/* Media query for smaller screens */
@media (max-width: 600px) {
    .appointment h1 {
        font-size: 1.5rem;
        top: -8rem;
    }
    .appointment form {
        padding: 1.5rem;
        width: 90vw;
    }
    .appointment input {
        font-size: 0.9rem;
    }
    /* .appointment button {
        font-size: 0.8rem;
    } */
}
/* Media query for medium screens */
@media (min-width: 601px) and (max-width: 1024px) {
    .appointment h1 {
        font-size: 1.8rem;
        top: -9rem;
    }
    .appointment form {
        padding: 1.8rem;
    }
    .appointment input {
        font-size: 1rem;
    }
    /* .appointment button {
        font-size: 0.9rem;
    } */
}
/* Media query for large screens */
@media (min-width: 1025px) {
    .appointment h1 {
        font-size: 2rem;
        top: -10rem;
    }
    .appointment form {
        padding: 2rem;
    }
    .appointment input {
        font-size: 1rem;
    }
    /* .appointment button {
        font-size: 0.9rem;
    } */
}

.form-card {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.appointments-div{
    background-color: skyblue;
    padding: 20px;
}